html{
    scroll-behavior:smooth ;
}
body{
    display: block;
    background-color:white;
    text-align: center;
    font-family: montserrat;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top{
    margin-top: 7rem;
}
.comp{
    height: 250vh;
}
.gro{
    height: 200vh;
}
.navlist{
    display: none;
}

.nav1 a{
    color: aliceblue;
    text-decoration: none;
    width: 100%;
    list-style-type: none;
    padding: 7px;
    margin: 3px;
 }
.nav1 a:hover{
  text-shadow: 2px 3px 10px  rgb(245, 241, 234);
 
}
.logo1{
    width: 50px;
    height: 50px;
    margin:10px 0 40px 100px;
}

.nav1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 91, 126);
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    box-shadow: 1px 2px 50px black;
    height: 80px;
    
}
.fixed{
    margin-bottom: 180px;
}
.elements{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-right: 40px;
    
}
.nav1 h4{
    margin-bottom: 4px;
    padding: 10px 10px 10px 10px;
    
}

#last{
    margin-right: 50px;
}

.menu{
    display: none;
}
#heading{
    display: block;
    margin: 65px auto 30px auto;
    text-align: center;
    width: 30%;
    border: 2px  black;
    font-family:'Lexend Peta',sans-serif 
}
#photo1{
    display: grid;
    justify-content: center;
}
.photo2{
    height: 350px;
    border:2px solid rgb(49, 30, 30);
    border-radius: 5px;
}

#img1{
    margin-top: 5px;
    text-align: center;
}
.intro{
font-size: large;
margin: 0 10px;
padding: 3vh;
text-align: center;
background-image: radial-gradient(white,rgb(3, 91, 126));

border-radius: 20px;

}
#whythis{
    text-align: center;
    padding: 3vh;
    margin: 0px 10px;
    font-size: larger;
    background-image: radial-gradient(white,rgb(3, 91, 126));
    border-radius: 20px;
}
.state{
    font-weight: bold;
}
#components{
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    
}
#components h2{
    font-weight: bolder;
    font-size: 30px;
}
#h2{
    font-weight:bold;
    font-family: 'Kanit', sans-serif;   
    font-size: 30px; 
}
.cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .card:hover{
        transform: scale(1.06);
        overflow: hidden;
    }
 .zoom{
    display: flex;
    align-items: center;
    border: 5px solid rgb(120, 120, 138);
    background-color: #319dbb;
    overflow: hidden;
    margin: 5px;
    padding: 1px;

 }
.card{
    display: flex;
    align-items: center;
    color: black;
    background-color: #319dbb;
    /* border: 5px solid rgb(120, 120, 138); */
    border-radius: 5px;
    width: 400px;
    padding: 17px;
    margin: 5px;
    height: 280px;
    font-size: auto;
    /* overflow: hidden; */
    
}

.card li {
    padding-bottom: 20px;
    text-align: start;
}


#para{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    
     
}
.gaji{
    width: 140px;
    border-radius: 40%;

}
.gaji1{
    width: 140px;
    border-radius: 40%;
    margin-right:19px ;

}
.working{
    text-align: center;
    font-size: large;
    margin: 0px 10px;
    background-image: radial-gradient(white,rgb(3, 91, 126));
    border-radius: 20px;
    padding: 3vh;
  
}

.flow{
    text-align: center;
    width: 430px;
    margin: 0 auto;
}
.team{
    text-align: center;
}
.info{
    display: block;
    background-color: #319dbb;
    border: 5px solid rgb(120, 120, 138);
    width: 320px;
    margin: 10px auto;
    padding: 9px;
    border-radius: 4px;
    text-align: center;
}


.mem{
    width: 150px;
    padding: 9px;
    border-radius: 100%;
}

.bio{
     display: flex;
     flex-wrap: wrap;
     }
.bio1{
    display: block;
    width: 80%;
    margin: 0 auto;
    

}
.mail:hover{
    text-shadow: 1px 2px 10px wheat;
}
.link:hover{
    text-shadow: 1px 2px 10px wheat;
}
.mail {
        text-align: center;
        font-weight: 600;
    }
    .link{
        margin: 9px;
        text-align:center;
        font-weight: 600;
    
    }
.footer{
    background-color: rgb(3, 91, 126);
     margin-top: 26px;
    padding: 20px 0px 10px 20px;
    text-align: center;
    color:aliceblue;
    margin-left: -12px;
    width: 100%;
}
.foot{
    display: flex;
    justify-content: space-evenly;

    color: aliceblue;
    
}
.pfoot{
    margin: 9px;
}
.lfoot{
    margin-top: 20px;
    padding-bottom: 150px;
    padding: 20px;
}
.lfoot i:hover{
    color:aqua ;
    transform: scale(0.9);

}
.foot li {
    text-align:start;
    text-decoration: none;
    list-style-type: none;
   
}
.foot ul li a{
    text-decoration: none;
    color: aqua;
}
.foot ul li a:hover{
    text-shadow: 0px 1px 9px antiquewhite;
}
.about{
    margin-right: 110px;
    color: aliceblue;
}

.contact span{
    color:aqua;
    margin-left: 9px;
}

.mail{
 margin-bottom: 8px;  
}

.lfoot i{
    margin-right: 15px
} 

.link a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:430px) {
    body{
        display: block;
        text-align: center;
    
    }

.nav1{
    display: none;
}

.navlist{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(3, 91, 126);
    height: 70px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav5{
    margin: 20px 25px 0 0;
    height: auto;
    width: auto;
    
    color: aliceblue;
    background-color: rgb(3, 91, 126);

}
.list{
    display: block;
    text-align: end;
   column-width: 900px;
    margin-top: 20px;
    margin-left: 40px;
    background-color: rgb(3, 91, 126);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;


}
.list ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 3px 10px 0 0;
}
.list ul li{
    width: 70%;
    list-style-type: none;
    text-align: start;
    padding: 5px;
}
.list ul :hover{
    
    color: rgb(3, 91, 126);
    background-image:linear-gradient(to right,aliceblue,rgb(3, 91, 126));
    border-radius: 2px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    

}
.logo1{
    margin-left: -0px;
    padding-left: 20px;
}
.menu1{
    display: block;
    background-color: rgb(3, 91, 126);
    color: aliceblue;
    text-align: end;
    width: 100%;
    margin: 10px;

}

section{
    display: block;
    height: auto;

    margin: 150px auto;
}

#gro{
    margin-top: -50px;
    height:auto
}
#comp{
    margin-bottom: 130rem;
}
 #heading {
        
        text-align:center;
        margin: 240px auto 20px auto;
        width: 200px;
        }
    
    #photo1{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    .photo2{
        height: 350px;
        border:2px solid rgb(49, 30, 30);
        border-radius: 5px;
    }
    
    #img1{
        margin-top: 5px;
        text-align: center;
    }
    .intro{
    font-size: large;
    margin: 2px;


    
    }
    #whythis{
        text-align: center;
        /* height: 300px; */
        /* background-color:mediumorchid; */

        
        font-size: larger;
    }
    .state{
        font-weight: bold;
    }
    #components{
        display: block;
        margin: 0 auto;
        width: 100%;
       }
    #components h2{
        font-weight: bolder;
    }
    .cards{
        display: block;
        width: 100%;
        border-radius: 7px;
        
        
        }
    
    .card{
        display: block;
        align-items: center;
        
        border-radius: 5px;
        width: 200px;
        padding: 20px;
        margin: 5px auto;
        height: 330px;
        
    }
    .card li {
        padding-bottom: 20px;
        text-align: start;
        font-size: 10px;
        
    }
   
    
    #para{
        margin-top: 40px;
        text-align: center;
        font-weight: bold;
        
         
    }
    .gaji{
        width: 100px;
        border-radius: 40%;
    
    }
    .gaji1{
        width: 100px;
        border-radius: 40%;
        margin-right:19px ;
    
    }
    .working{
        text-align: center;
        font-size: large;
        margin: 2px;
        padding: 30px;
    
    }
    
    .flowchart{
        width: 100%;
        display: flex;
        justify-content: center;

        
    }
    .flow{
        width: 260px;
    }
    .team{
        text-align: center;
    }
    .info{
        display: block;
        word-wrap:break-word;
        width: 210px;
        margin: 10px auto;
        padding: 9px;
        border-radius: 4px;
        text-align: center;
        font-size: 11px;
        height: 230px;
    }
    .mem{
        width: 100px;
        padding: 9px;
        border-radius: 100%;
    }
    
    .bio{
         display: flex;
         flex-wrap: wrap;
         
         }
    .bio1{
        display: block;
        width: 90%;
        margin: 0 auto;
        
    
         }
         .mail {
            text-align: center;
            
        }
        .link{
            margin: 9px;
            text-align:center;

        
        }
    .footer{
        position: absolute;

         margin-top: 26px;
         width: 100%;
        
        text-align: center;
        color:aliceblue;
        right:0;
        left:0;
    }
    .foot{
        display: block;
        color: aqua;
        
    }
    
    .lfoot{
        margin-top: 20px;
        padding-bottom: 150px;
    }
    .foot li {
        text-align:start;
        text-decoration: none;
        list-style-type: none;
       
    }
    
    .about{
        display: block;
        width: 100%;
        margin-left: -8vw;
        color: aliceblue;
        text-align: cente
        
    }
    .about ul{
        display: flex;
        justify-content: space-around;
        
    }
    .contact{
        margin-right: 10px;
        margin-left: -37px;
        overflow-wrap: break-word;
    }
    .contact h4{
        color: aliceblue;
        text-align: center;
        
    }
    .contact span{
        color:aqua;
        /* margin-left: 9px; */

    }
    .contact p{
        color: aliceblue;
    }
    /* .contact ul li p a span{
        padding-right: 10px;
    } */
    .icons{
    text-align: start;
    border: 1px transparent wheat;
    }
    .icons:hover{
          text-shadow: 2px 1px 4px wheat;
    }
    .mail{
     margin-bottom: 8px;  
    }
    .lfoot i{
        margin-right: 8px
    } 
    
    .link a{
        text-decoration: none;
        color: black;
    }
}